.header {
    padding-top: 15px;
    background: linear-gradient(#383535 2%, #000000);
    box-shadow: 0px 3px 3px #252424;
}

.wrapper {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.box::after {
    content: '';
    display: block;
    margin-top: 10px;
    height: 1px;
    background-color: #474747;
    width: 100%;
}

.footBox {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.fixedFootWrapper {
    z-index: 100;
    position: fixed;
    background: #0e0d0d;
    top: 0;
    left: 0;
    right: 0;
}

.fixedFootBox {
    composes: footBox;
    width: 940px;
    margin: 0 auto;
}

.paddingFix {
    padding-bottom: 50px;
}