.wrapper {
    width: 178px;
    box-sizing: border-box;
    padding: 5px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.text {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #567fd8;
    margin: 0;
}