.list {
    display: flex;
    width: 540px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.link {
    display: block;
    text-decoration: none;
    background-color: #676f75;
    color: #ffffff;
    padding: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.activeLink, .link:hover {
    background-color: #4aa5da;
}