.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover, .btn:hover {
    color: #4888b3;
}

.btn {
    cursor: pointer;
    color: #ffffff;
    border: none;
    background-color: inherit;
    padding: 0;
}

.btn:focus {
    outline: none;
}

.item {
    position: relative;
}

.item:first-child {
    margin-right: 20px;
}

.item:first-child::after {
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 12px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    background-color: #ffffff;
}