.wrapper {
    width: 320px;
    box-sizing: border-box;
    padding: 20px;
    background: white;
}

.table {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
}

.key {
    font-weight: 900;
    line-height: 1.2;
}

.value {
    color: #355fb9;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.listTr {
    vertical-align: top;
}

.tr {
    margin-bottom: 10px;
}