.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 178px 178px 178px;
    grid-template-rows: 170px 150px;
    grid-gap: 0 13px;
}

.link {
    text-decoration: none;
}

.link:hover .item {
    box-shadow: 0px 0px 7px #423f3f;
}